<div class="header__wrapper">
  <header class="header">
    <div class="header__container">
      <div class="header__burger">
        <span></span>
      </div>
      <div class="header__menu">
        <div class="header__container_list">
          <ul class="header__list">
            <li class="header__link">
              <a href="#">How It Works</a>
            </li>
            <li class="header__link">
              <a href="#">Vegetables</a>
            </li>
            <li class="header__link">
              <a href="#">Contacts</a>
            </li>
          </ul>
        </div>

        <div class="header__icon_container">
          <button type="button" class="header__icon_button">
            <svg class="header__icon">
              <use href="../img/icons.svg#icon-shopping-cart"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="header__logo" tabindex="0">
        <a class="header__logo_link">
          <div class="header__logo_container">
            <svg class="header__logo_svg" width="16" height="16">
              <use href="../img/icons.svg#icon-logo"></use>
            </svg>
            <p class="header__logo_title">veggieboost</p>
          </div>
        </a>
      </div>
    </div>
  </header>
</div>
