<header class="header">
  <div class="container">
    <div class="header-burger">
      <span></span>
    </div>
    <div class="header-menu">
      <div class="header-container-list">
        <ul class="header-list">
          <li class="header-link">
            <a href="#works">How It Works</a>
          </li>
          <li class="header-link">
            <a href="#vegetables">Vegetables</a>
          </li>
          <li class="header-link">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="header-icon-container">
        <button type="button" class="header-icon-button">
          <svg class="header-icon">
            <use href="../img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="header-logo" tabindex="0">
      <a class="header-logo-link">
        <div class="header-logo-container">
          <svg class="header-logo-svg" width="16" height="16">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
          <p class="header-logo-title">Veggieboost</p>
        </div>
      </a>
    </div>
  </div>
</header>
