<section class="how-it-works" id="works">

  <div class="container">
    <div class="title-hiw">
      <h1 class="title-hiw-text">To order your vegetable basket, simply follow these easy steps</h1>
      <div class="img-hiw">
        <picture>
          <source srcset="./img/hiw-image/imgvegdes1x.png 1x,
          ./img/hiw-image/imgvegdes2x.png 2x" media="(min-width: 1280px)" width="410" height="170" />
          <source srcset="./img/hiw-image/imgvegtab1x.png 1x,
          ./img/hiw-image/imgvegtab2x.png 2x" media="(min-width: 768px)" width="310" height="176" />
          <source srcset="./img/hiw-image/imgvegmob1x.png 1x,
          ./img/hiw-image/imgvegmob2x.png 2x" media="(max-width: 767px)" />
          <img src="./img/hiw-image/imgvegmob1x.png" alt="broccoli" width="335" height="158" />
        </picture>
      </div>
    </div>

    <div class="paragraph-hiw">

      <p class="paragraph-hiw-text1">Our baskets are assembled with care and delivered straight to your doorstep, so
        you can enjoy the taste of
        fresh fruit
        without ever leaving your home.</p>


      <p class="paragraph-hiw-text2">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
        baskets
        are the perfect choice.
      </p>

    </div>
  </div>

</section>