<section class="how-it-works" id="works">

  <div class="container">
    <div class="title-hiw">
      <h1 class="title-hiw-text">To order your vegetable basket, simply follow these easy steps</h1>
      <div class="img-hiw">
        <picture>
          <source srcset="../img/hiw-image/imgvegetabldes1x.png 1x,
          ../img/hiw-image/imgvegetabldes2x.png 2x" media="(min-width: 1280px)" />
          <source srcset="../img/hiw-image/imgvegetabltabl1x.png 1x,
          ../img/hiw-image/imgvegetabltabl2x.png 2x" media="(min-width: 768px)" />
          <source srcset="../img/hiw-image/imgvegetablmob1x.png 1x,
          ../img/hiw-image/imgvegetablmob2x.png 2x" media="(max-width: 767px)" />
          <img src="../img/hiw-image/imgvegetablmob1x.png" alt="broccoli" width="335" height="158" />
        </picture>
      </div>
    </div>

    <div class="paragraph-hiw">

      <p class="paragraph-hiw-text">Our baskets are assembled with care and delivered straight to your doorstep, so
        you can enjoy the taste of
        fresh fruit
        without ever leaving your home.</p>


      <p class="paragraph-hiw-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
        baskets
        are the perfect choice.
      </p>

    </div>
  </div>

</section>