<section class="three-steps container">
  <div class="contener-steps polka-dot " >
  <h1 class="step">3 Easy Steps for Buying Fresh Vegetables</h1>
  
  <div class="list-step">
    <ol class="steps-list">
      <li class="step-list-item">
        <p class="step-list-text">
        Just choose the vegetable you want to order by clicking on the checkboxes next to it.
      </p>
      </li>

    <li class="step-list-item">
      <p class="step-list-text">
       Click on the basket and fill out the form.
      </p>
      </li>

    <li class="step-list-item">
      <p class="step-list-text">
      Sit back and relax! Your fresh vegetables basket will be delivered.
    </p>
    </li>
    </ol>

 
  </div>
    
  <div class="step-girl">
<picture class="img-girl">
  <source media="(min-width:768px) and (max-width:1279px)"
    srcset=" ./img/three-steps/girltab.png 1x, ./img/three-steps/girltab2x.png 2x " width="350" height="446" />
  <source media="(min-width:1280px)" srcset="./img/three-steps/girlpc.png 1x, ./img/three-steps/girlpc2x.png 2x" width="434"
    height="420" /> <img srcset=" ./img/three-steps/girlmob.png 1x, ./img\three-steps/girlmob2x.png 2x "
    src="./img/three-steps/girlmob.png" width="258" height="319" alt="img-girl" class="hero-girl" />
</picture>





    <!-- <img class="img" srcset="./img/three-steps/girlmob.png 1x, ./img\three-steps/girlmob2x.png 2x" src="./img/three-steps/girlmob.png" alt="girli"
    width="258" height="319"> -->
    </div>
  </div>
    

    
</section>

