<section class="three-steps container">
  <div class="steps-main-div">
    <div class="steps-polka-dot">
      <div class="steps-content">
        <h2 class="steps-h">3 Easy Steps for Buying Fresh Vegetables</h2>

        <div class="steps-list-div">
          <ol class="steps-list list">
            <li class="steps-list-li">
              <p class="steps-list-p">
                Just choose the vegetable you want to order by clicking on the
                checkboxes next to it.
              </p>
            </li>

            <li class="steps-list-li">
              <p class="steps-list-p p-two">
                Click on the basket and fill out the form.
              </p>
            </li>

            <li class="steps-list-li">
              <p class="steps-list-p">
                Sit back and relax! Your fresh vegetables basket will be
                delivered.
              </p>
            </li>
          </ol>
        </div>
      </div>
      <div class="steps-girl">
        <picture class="steps-picture">
          <source
            media="(max-width:767px)"
            srcset="
              ./img/three-steps/girlmob.png   1x,
              ./img/three-steps/girlmob2x.png 2x
            "
            width="258"
            height="319"
          />
          <source
            media="(min-width:768px) and (max-width:1279px)"
            srcset="
              ./img/three-steps/girltab.png   1x,
              ./img/three-steps/girltab2x.png 2x
            "
            width="350"
            height="446"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/three-steps/girlpc.png   1x,
              ./img/three-steps/girlpc2x.png 2x
            "
            width="434"
            height="420"
          />
          <img
            src="./img/three-steps/girlmob.png"
            alt="A girl with the lettuce"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
