<section class="vegetables">
  <div class="vegetables-start container">
    <h2 class="vegetables-title">ORGANIC VEGETABLES</h2>
    <p class="vegetables-info">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vege-content">
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Carrot</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/carrot-double-x1.png 1x,
              ./img/vegetables/carrot-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/carrot-double-x1.png 1x,
              ./img/vegetables/carrot-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/carrot-mob-x1.png 1x,
              ./img/vegetables/carrot-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/carrot-mob-x1.png"
            alt="carrot"
            class="vege-png"
        /></picture>
        <p class="vege-price">100 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Brussel sprout</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/brussel-double-x1.png 1x,
              ./img/vegetables/brussel-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/brussel-double-x1.png 1x,
              ./img/vegetables/brussel-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/brussel-mob-x1.png 1x,
              ./img/vegetables/brussel-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/brussel-mob-x1.png"
            alt="brussel"
            class="vege-png"
        /></picture>

        <p class="vege-price">80 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Tomato</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/tomato-double-x1.png 1x,
              ./img/vegetables/tomato-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/tomato-double-x1.png 1x,
              ./img/vegetables/tomato-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/tomato-mob-x1.png 1x,
              ./img/vegetables/tomato-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/tomato-mob-x1.png"
            alt="tomato"
            class="vege-png"
        /></picture>
        <p class="vege-price">40 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Eggplant</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/eggplant-double-x1.png 1x,
              ./img/vegetables/eggplant-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/eggplant-double-x1.png 1x,
              ./img/vegetables/eggplant-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/eggplant-mob-x1.png 1x,
              ./img/vegetables/eggplant-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/eggplant-mob-x1.png"
            alt="eggplant"
            class="vege-png"
        /></picture>
        <p class="vege-price">60 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Sweet potatoes</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/potatoes-double-x1.png 1x,
              ./img/vegetables/potatoes-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/potatoes-double-x1.png 1x,
              ./img/vegetables/potatoes-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/potatoes-mob-x1.png 1x,
              ./img/vegetables/potatoes-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/potatoes-mob-x1.png"
            alt="potatoes"
            class="vege-png"
        /></picture>
        <p class="vege-price">80 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Leek</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/leek-double-x1.png 1x,
              ./img/vegetables/leek-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/leek-double-x1.png 1x,
              ./img/vegetables/leek-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/leek-mob-x1.png 1x,
              ./img/vegetables/leek-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/leek-mob-x1.png"
            alt="leek"
            class="vege-png"
        /></picture>
        <p class="vege-price">50 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Mushrooms</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/mushrooms-double-x1.png 1x,
              ./img/vegetables/mushrooms-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/mushrooms-double-x1.png 1x,
              ./img/vegetables/mushrooms-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/mushrooms-mob-x1.png 1x,
              ./img/vegetables/mushrooms-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/mushrooms-mob-x1.png"
            alt="mushrooms"
            class="vege-png"
        /></picture>
        <p class="vege-price">40 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Corn</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
          ><source
            srcset="
              ./img/vegetables/corn-double-x1.png 1x,
              ./img/vegetables/corn-double-x2.png 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/vegetables/corn-double-x1.png 1x,
              ./img/vegetables/corn-double-x2.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/vegetables/corn-mob-x1.png 1x,
              ./img/vegetables/corn-mob-x2.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/vegetables/corn-mob-x1.png"
            alt="corn"
            class="vege-png"
        /></picture>
        <p class="vege-price">60 UAH / kg</p>
      </li>
      <li class="vegetable-order">
        <div class="vegetable-place">
          <h3 class="vege-name">Radish</h3>
          <p class="vege-family">Plant</p>
        </div>
        <picture
        ><source
          srcset="
            ./img/vegetables/radish-deskt-x1.png 1x,
            ./img/vegetables/radish-deskt-x2.png 2x
          "
          media="(min-width: 1280px)" />
        <img
          src="./img/vegetables/radish-deskt-x1.png"
          alt="radis"
          class="vege-png"
        /></picture>
        <p class="vege-price">90 UAH / kg</p>
      </li>
    </ul>
    <button type="button" class="vege-btn" data-modal-open>
      <svg class="vege-btn-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use></svg
      ><span class="vege-btn-text">ORDER</span>
    </button>
  </div>
</section>
