<section class="we-will-call-you container">

  <div class="we-will-container container">
    <h1 class="we-will-title">Fresh Harvest Box has got you covered</h1>
    <div class="input-container">
      <p class="we-will-paragraf">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking
        to eat healthier or support local
        farmers. Order your box today and start enjoying the best that nature has to offer!</p>
      <div class="container-input">
        <form class="we-will-form">
            <input 
            pattern="10"
            placeholder="+380 ()" 
            name="user-tel" 
            type="submit" 
            class="we-will-input" 
            id="user-tel" />
            <button type="button" class="input-button">
              Recall
            </button>
        </form>
      </div>
    </div>
  </div>
  <div class="img-block">
    <div class="img-container">
      <img
      src="../img/we-will-call-you/1wwc_girl_mob.png"
      srcset="../img/we-will-call-you/1x2wwc_girl_mob.png"
      alt="girl"
      width="335px"
      height="357px"
      />
    </div>
  </div>
  <div class="img-block2">
    <div class="img-container2 container">
      <img src="../img/we-will-call-you/2wwc_girl_mob.png" 
      alt="girl"
      srcset="../img/we-will-call-you/2x2wwc_girl_mob.png"
      width="629px"
      height="446px"
      />
    </div>
  </div>
  <div class="img-block3">
    <div class="img-container3">
      <img src="../img/we-will-call-you/3wwc_girl_mob.png" 
      alt="girl" 
      srcset="../img/we-will-call-you/3x2wwc_girl_mob.png"
      width="525"
      height="499"
      />
    </div>
  </div>
</section>