<section class="we-will-call-you">
  <div class="container we-will-call-youu">
    <div class="we-will-container container">
      <h2 class="we-will-title">Fresh Harvest Box has got you covered</h2>
      <div class="input-container">
        <p class="we-will-paragraf">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
        <div class="container-input">
          <form class="we-will-form">
            <input
              pattern="(?=.*+[0-9]{3}\s?[0-9]{2}\s?[0-9]{3}\s?[0-9]{4,5}$)"
              placeholder="+380 ()"
              name="user-tel"
              class="we-will-input"
              id="user-tel"
            />
            <button type="submit" class="input-button">Recall</button>
          </form>
        </div>
      </div>
    </div>
    <picture class="we-will-picture">
      <source
        media="(max-width:767px)"
        srcset="
          ./img/we-will-call-you/wwc_girl_mob.png   1x,
          ./img/we-will-call-you/x2wwc_girl_mob.png 2x
        "
        width="335"
        height="357"
      />
      <source
        media="(min-width:768px) and (max-width:1279px)"
        srcset="
          ./img/we-will-call-you/wwc_girl_tab.png   1x,
          ./img/we-will-call-you/x2wwc_girl_tab.png 2x
        "
        width="629"
        height="446"
      />
      <source
        media="(min-width:1280px)"
        srcset="
          ./img/we-will-call-you/wwc_girl_des.png   1x,
          ./img/we-will-call-you/x2wwc_girl_des.png 2x
        "
        width="525"
        height="499"
      />
      <img
        src="./img/we-will-call-you/wwc_girl_mob.png"
        class="img-container"
        alt="Girl with broccoli"
      />
    </picture>
  </div>
</section>
