* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: white;
  z-index: 2;
}

.header-container {
  max-width: 100%;
  padding: 0px 32px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1px;
}

.header-logo {
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 3;
}

.header-logo-svg {
  fill: #77ac63;
}

.header-logo-title {
  color: #141414;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-left: 8px;
}

.header-burger {
  display: none;
}

.header-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header-link {
  padding-right: 14px;
}

.header-icon-container {
  z-index: 3;
}

.header-icon {
  width: 20px;
  height: 20px;
}

.header-icon-button {
  background-color: transparent;
  stroke: var(--primary-text-color);
  fill: transparent;
}

.header-container-list {
  display: flex;
}

/* Burger */

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header-container {
    padding: 0px 20px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
    z-index: 5;
    float: right;
    top: 18px;
    cursor: pointer;
  }

  .header-burger span {
    position: absolute;
    background-color: #77ac63;
    left: 0;
    width: 100%;
    height: 2px;
    top: 6px;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }

  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #77ac63;
    position: absolute;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }

  .header-burger:before {
    top: 0;
    width: 45%;
  }

  .header-burger:after {
    bottom: 0;
    width: 65%;
  }

  .header-burger.active:before {
    transform: rotate(45deg);
    top: 6px;
    width: 100%;
  }

  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 6px;
    width: 100%;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-menu {
    position: fixed;
    overflow: auto;
    top: 50px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green-brand-color);
    right: -100%;
    transition: all 0.3s ease 0s;
    display: block;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }

  .header-menu.active {
    right: 0;
  }

  .header-container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 174px;
  }

  .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-link {
    margin-bottom: 16px;
    color: #fff;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    padding-right: 0px;
  }

  .header-icon {
    stroke: #fff;
    fill: transparent;
    width: 20px;
    height: 20px;
  }

  .header-logo-link {
    display: flex;
  }

  .header-logo {
    position: relative;
    height: 50px;
  }

  .header-logo-container {
    padding-top: 16px;
  }

  .header-icon-container {
    display: block;
    background-color: transparent;
  }

  .header-icon-button {
    display: block;
    margin: 0 auto;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  /* .header-logo-title:hover {
    color: #77ac63;
    transition: all 0.2s;
  } */

  .header-logo {
    margin-left: 86px;
  }

  .header-link a:hover,
  .header-link a:focus {
    color: #77ac63;
    transition: all 0.2s;
  }

  .header-icon-button:hover > .header-icon,
  .header-icon-button:focus > .header-icon {
    stroke: #77ac63;
    fill: transparent;
    transition: all 0.2s;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .header-logo {
    margin-left: 0px;
  }

  .header-link {
    padding-right: 20px;
  }

  .header-icon {
    width: 24px;
    height: 24px;
  }
}
