.container {
  max-width: 375px;;
}

.title-hiw-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #141414;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;
   
}

.img-hiw {
 margin-bottom: 20px; 
}

.paragraph-hiw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}



@media (min-width: 768px) {
  
  .container {
    max-width: 768px;
  }
  .title-hiw {
    display: flex;
    gap: 8px;
  }
  
  .title-hiw-text {
    width: 386px;
    font-size: 40px;
    line-height: 1.1;
  }

  .paragraph-hiw {
    display: flex;
    flex-direction: row;
    width: 616px;
    align-items: flex-start;
    gap: 20px;
    font-size: 18px;
    line-height: 1.33;
  }

 .paragraph-hiw-text1 {
   width: 317px;
 }

 .paragraph-hiw-text2 {
  width: 279px;
 }

}

  @media (min-width: 1280px) {
    .title-hiw-text {
    width: 614px;
      font-size: 48px;
      line-height: 1.04;
      letter-spacing: -0.04em;
    }
    
    .title-hiw {
      gap: 192px;
      padding-bottom: 40px;
    }

  }
 


