.we-will-call-youu {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.we-will-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.we-will-title {
  text-align: center;
  margin-left: 9px;
  margin-right: 9px;
  font-size: 24px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.we-will-paragraf {
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--primary-text-color);
}

.container-input{
  position: relative;
}

.we-will-form {
  
}

.input-button{
  color: var(--white-color);
  border-radius: 100px;
  background-color: var(--button-orange-color);
  padding: 15px 35px;
  position: absolute;
  right: 0;
  border: 0;
}

.input-button:focus{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) var(--primary-text-color);
}

.input-button:hover{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) var(--primary-text-color);
}

.we-will-input {
  padding-left: 24px;
  width: 335px;
  height: 48px;
  position: relative;
  border-radius: 100px;
    border: 1px solid var(--primary-text-color);
    opacity: 0.30000001192092896;
}

.img-block{
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-container {
  margin-bottom: 80px;
  padding-top: 31px;
  border-radius: 40px;
  background: #FAF3E7;
  background-image: radial-gradient(circle at 5px 5px, rgba(161, 196, 135, 0.3) 2.7px, transparent 0);
  background-size: 45px 45px;
}

.we-will-picture {
  width: 335px;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
  .we-will-input {
    width: 300px;
  }
  .we-will-picture {
    width: 300px;
}

}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .we-will-input{
    width: 350px;
  }
  .we-will-container{
    width: 524px;
    margin-top: 100px;
  }

  .we-will-title{
    font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
  }

  .we-will-paragraf{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0;
  }



    .img-block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 173px;
    } 
  


    .img-container {
      padding-top: 17px;
      padding-left: 38px;
      padding-right: 38px;
      margin-bottom: 173px;
    }


    .we-will-picture {
      width: 629px;
    }

}

@media screen and (min-width: 1280px) {
  .we-will-call-youu{
    flex-direction: row;
    justify-content: center;
  }

  .we-will-container{
    justify-content: start;
    align-items: start;
    margin-right: 77px;
        gap: 40px;
  }

  .we-will-title{
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    width: 614px;
  }

  .we-will-paragraf{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
    width: 523px;
  }

  .input-container{
    justify-content: start;
    align-items: start;
  }

    .img-block{
    display: flex;
    padding: 124px 0;
  }

  .img-container {
  padding: 0;
  margin: 124px 0;
}

.we-will-picture {
  width: 525px;
}

.we-will-picture img {
  max-width: none;
}
}








